<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/page_start.css">
    <title>The legend of Hangman</title>
</head>

<body>
<form method="post">
    <div class="title_page">
        <img class="title" alt="hangman web icon" src=../static/Title_page.png>
    </div>
    <div class="Name_text">
        <input class="username" type="text" placeholder="ENTER YOUR USERNAME !" name="ID">
    </div>
    <div class="Start_button">
        <button id="start-button" name="SendUserName" value="ChoiceLevel">Start</button>
    </div>
    <img class="sprint" src="../static/linkk_3_00000.gif">
</form>
</body>
</html>